.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.plus{
  border: 2px solid red;
  border-radius: 5px;
  background-color: indianred;
  color: darkblue;
  font-size: 16px;
  margin-right: 5px;
}

.minus{
  border: 2px solid blue;
  border-radius: 5px;
  background-color: dodgerblue;
  font-size: 16px;
  color: darkred;
}

#select{
  font-size: 16px;
  border: 2px dashed darkorchid;
  border-radius: 2px;
  background-color: violet;
  width: 111px;
  margin-top: 5px;
}

.reset{
  width: 111px;
  background-color: white;
  border: 2px solid black;
  font-size: 16px;
  border-radius: 2px;
  margin-top: 5px;
}

.div-form{
  margin-top: 169px;
}

.input-field{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px ridge forestgreen;
  line-height: 20px;
  font-size: 16px;
  background-color: whitesmoke;
}

.clean-btn{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 20px;
  font-size: 16px;
  outline: none;
  border: 2px ridge forestgreen;
  border-left: none;
  background-color: whitesmoke;
}